<ion-header>
  <ion-toolbar>
    <ion-title style="font-family:'Roboto';">
      <ion-row> <ion-img src="../../assets/logo.png"></ion-img></ion-row
    ></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content padding>
        <form [formGroup]="resetPasswordForm">
          <ion-item color="secondary"
          expand="block"
          style="border-radius: 20px !important;">
            <ion-label position="stacked">Email</ion-label>
            <ion-input
              formControlName="email"
              type="email"
              placeholder="Your email address"
              [class.invalid]="!resetPasswordForm.controls['email'].valid &&
              resetPasswordForm.controls['email'].touched"
            >
            </ion-input>
          </ion-item>
          <ion-item
            class="error-message"
            *ngIf="!resetPasswordForm.controls['email'].valid &&
            resetPasswordForm.controls['email'].touched"
          >
            <ion-label>Please enter a valid email.</ion-label>
          </ion-item>
      <br>
          <ion-button
          expand="block"
          color="dark"
          strong="true"
            (click)="resetPassword(resetPasswordForm)"
            [disabled]="!resetPasswordForm.valid"
          >
            Reset your Password
          </ion-button>
        </form>
      </ion-content>
</ion-content>
