._img {
  box-shadow: 0 2px 5px #000;
  height: 100%;
  width: 100%;
}
.wrapper{
  text-align: center;
  margin: auto;
  display: block;
}
.pane[state$="tabs.facts"]{
  background: green;
}
.picker{
  --ion-background-color: red;
  }
ion-content{
   --ion-background-color:rgb(58, 59, 58);
}
ion-card-content{
  box-shadow: 0 2px 5px #000;

}
.card{

  background-color: #000;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding: 10px;
}
.title{
  font-family: 'Roboto',sans-serif ;
   text-align: left;
  font-weight: bold;
  font-size: 20px;
  color:#ffffff;
}
ion-label{
  color:white;
}
ion-icon{
  color:white;
}
ion-chip{
  background: #24B780;
}
.wrapper p {
  color: black;
  font: 300 4em/150% 'Roboto',sans-serif;
  position: absolute;
  z-index: 99;
  top: 0px;
  opacity: 0.7;
  vertical-align: middle;
  text-align: center;
}

/* loading dots */

.loading:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: black;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 black;
  }
}
